{% extends 'base.html.twig' %}

{% block title %}SymfonyNodes index{% endblock %}

{% block body %}
    <h1>SymfonyNodes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Snid</th>
                <th>Content</
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for symfony_node in symfony_nodes %}
            <tr>
                <td>{{ symfony_node.id }}</td>
                <td>{{ symfony_node.snid }}</td>
                <td>
                    <a href="{{ path('symfony_nodes_show', {'id': symfony_node.id}) }}">show</a>
                    <a href="{{ path('symfony_nodes_edit', {'id': symfony_node.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('symfony_nodes_new') }}">Create new</a>
{% endblock %}
