{% extends 'base.html.twig' %}

{% block title %}New SymfonyNodes
{% endblock %}

{% block body %}
	<h1>Create new SymfonyNodes</h1>

	<form id="option" action="#" method="POST">
		<label for="{{values.Types.method}}">{{'tEnterTypeName'|trans}}</label>
		<input type="text" name="{{values.Types.method}}">
		{% if values is defined %}
			{% for value in values %}
				{% if value.type == 'content' %}
					<label for="{{value.method}}">{{'t'~value.name|trans}}</label>
					<input type="number" name="{{value.method}}">
				{% endif %}
			{% endfor %}
		{% endif %}
		<input type="hidden" name="hiddeninput" value="100">
		<input type="submit" form="option" name="submit" value="{{'tSubmit'|trans}}">
	</form>

	<a href="{{ path('symfony_nodes_index') }}">back to list</a>


{% endblock %}
